---
import '@picocss/pico';
import '../styles/global.css';
---


<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/turtle.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>TORTUGA</title>
	</head>
	<body>
		
					<div class="container">
				
						<section>
						<pre style="color:skyblue;">
							
	_______  _______  ______    _______  __   __  _______  _______ 
   |       ||       ||    _ |  |       ||  | |  ||       ||   _   |	BY PATRICK :(
   |_     _||   _   ||   | ||  |_     _||  | |  ||    ___||  |_|  |		    ___
     |   |  |  | |  ||   |_||_   |   |  |  |_|  ||   | __ |       |	   ,,  // \\	
     |   |  |  |_|  ||    __  |  |   |  |       ||   ||  ||       |   (_,\/ \_/ \	
	 |   |  |       ||   |  | |  |   |  |       ||   |_| ||   _   |	    \ \_/_\_/>  
	 |___|  |_______||___|  |_|  |___|  |_______||_______||__| |__|	    /_/  /_/	Social Media for sexual videos and gifs provided by anonymous visitors in tortuga site. *^*   
											   
			</pre>
				<div class="center">
					<nav >
						<ul>
							<li><a href="/">Videos</a></li>
							<li><a href="/gifs">Gifs</a></li>
							<li><a href="/upload">Upload</a></li>
						</ul>
				</nav>
				</div>

				</section>
			<slot />
			</div>
	</body>
</html>

